header {
	background-color: #8a26bd;
	color: white;
	padding: 20px;
	text-align: center;
}	

h1 {
	font-weight: 400;	
}	

#navbar {
	overflow: hidden;
	background-color: #54d3f0;
	border-bottom: 15px;
}
#navbar a {
	float: left;
	display: block;
	color: white;
	padding: 14px 16px;
	text-align: center;
	text-decoration: none;
}	
#navbar a:hover {
	background-color: #8a26bd;
	color: #54d3f0;
}
#container {
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 10px;
}
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-title {
	text-align: center;
	font-size: 2em;
	color: #8a26bd;
	font-weight: 400;
}
.card-content {
	padding: 2px 16px;
}
.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
footer {
	background-color: #8a26bd;
	position: absolute;
	bottom: 0;
	width: 100%;
	
}	
footer p {
	color: white;
	font-weight: 400;
	float: right;
	padding-right: 10px;
	font-style: 10px;
	
	
}
footer a {
	text-decoration: none;
	color: white;
}